.section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
   
   
}
.register_page_container{
    position: relative;
    width: 400px;
    height: 600px;
    max-width: 400px;
    max-height: 6000px;
    background: #040717;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 70px;
}
.register_page_container::before{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
    animation: rotate_border 6s linear infinite;

}
.register_page_container::after{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}
.register_page{
    width: 100%;
    min-height: 100vh;
    background: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.register_page form{
    background: #fff;
    max-width: 500px;
    position: absolute;
    content: "";

   inset: 5px;
    padding: 50px 40px;
    background-color: #0c1022;
    border-radius: 50px 5px;
    z-index: 10;
    color: #00ccff
}

.register_page form .pass{
    position: relative;
}

.register_page form .pass small{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}
@keyframes rotate_border{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

::placeholder{
    font-size: 15px;
    color: #00ccff52;
    letter-spacing: 1px;
}
h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}