@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

#theme {
  display: none;
}
#theme:checked ~ * {
  filter: invert(1);
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}
.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: #0386b2;
  filter: blur(100px);
  /* filter: invert(1); */
}

.main {
  /* max-width: 1500px; */
  margin: 0px 30px;
  width: 100%;
  min-height: 100vh;
  margin: auto;

}

.body{
  max-width: 1500px;
  margin: 0px 30px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

img {
  object-fit: cover;
}

/* -------- AUTH ---------- */
@import url("./login.css");

@import url("./register.css");

/* -------- LOADING ---------- */
@import url("./loading.css");

/* -------- Header ---------- */
@import url("./header.css");

/* -------- Avatar ---------- */
@import url("./avatar.css");

/* -------- Header ---------- */
@import url("./header.css");

/* -------- Profile ---------- */
@import url("./profile.css");

/* -------- Home ---------- */
@import url("./home.css");

/* -------- Status Modal ---------- */
@import url("./status_modal.css");

/* -------- Comments ---------- */
@import url("./comments.css");

/* -------- Post Thumb ---------- */
@import url("./post_thumb.css");


@import url("./side-bar.css");
.message{
  height: calc(100vh - 100px);
    }
    .right_mess,
    .left_mess{
      display: none;
    }
/* -------- Icons---------- */
@import url("./icons.css");




/* --------- Responsive ------ */
@media (max-width: 766px){

  .header .navbar .logo{
    margin: 2px ;
    height: 20px;
    width: 20px;
  }

  .header .menu{
      width: 100%;
      height: 45px;
  }

  .header .menu .navbar-nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .header .search_form{
      width: 100%;
  }

  .header .search_form #search{
    position: relative;
    width: 320px;
    margin-top: 80px;
  }

  .header .search_form .search_icon .material-icons{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
  }

.header .menu .material-icons{
    font-size: 35px;
    color: rgb(255, 255, 255);
    position: relative;
    /* z-index: -1; */
    margin-top: 0px;
}

.header .menu .notify_length{
  /* z-index: -1; */
  font-size: 20px;
}

.header .menu .navbar-nav .nav-item{
  /* z-index: -1; */
}

.header .logo{
      margin: auto;
}

.header .logo h1{
      font-size: 1.5rem;
}
  
.status{
  padding: 20px 10px;
}
}

.status_header span{
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  transform: translateY(-5px);
}

.header .search_form .users{
  position: absolute;
  width: 100%;
  min-width: 250px;
  background: #e7e5e5;
  max-height: calc(100vh - 150px);
  top: -1;
  left: 0;
  margin-top: 5px;
}

