.header{
    width: 100%;
    min-height: 70px;
    position: sticky;
    top:0;
    left: 0;
    z-index: 2;
    box-shadow: 0 0 10px #ddd;
    background-image: linear-gradient(rgb(29, 71, 123), rgb(6, 174, 65));
    /* border: 1px solid rgb(0, 0, 0, .125); */
}
.header .navbar{
    width: 100%;
    height: 100%;
}

.header .logo h1 img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 50px;
    border: 1px solid white;

    
} 

.header .logo h1 span{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
    margin-left: 5px;

} 


/* ----------- Header Menu ---------- */
.header .menu li{
    /* opacity: 0.5; */
    /* color: black; */
    /* color: gray; */
    /* background-color: gray; */
}
.header .menu li.active{
    opacity: 1;
}
.header .menu .material-icons{
    font-size: 35px;
    color: rgb(255, 255, 255);
    /* margin-right: 50px; */
    position: relative;


}

.header .menu .material-icons:hover{
    color: rgb(4, 14, 58);
}

/* .header .menu .dropdown-toggle{
    display: none;
} */
.header .menu .dropdown-menu{ 
    position: absolute;
    left: inherit;
    right: 0;
    min-width: 50px;
}

.header .menu .dropdown-menu span{
    color: black;;
    /* background-color: none; */
}

.header .menu .dropdown-menu .dropdown-item:hover{
    color: rgb(4, 14, 58);
    
    /* background-color: rgb(167, 167, 244); */
}

/* .header .menu .dropdown-menu:active:hover{
    background-color: rgb(172, 172, 255);
} */

/* .header .menu label{
    cursor: pointer;
}


.header .menu .nav-item .material-icons h4{
    display: none;
}

.header .menu .nav-item .material-icons h4:hover{
    display: flex;
    font-display: 200px;  
    color: rgb(233, 42, 42);
    font-size: 20px;
}  */


.header .menu .notify_length{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: 50px;
    transform: translate(-150%, -50%);
    color: white;
    font-weight: bold;
    font-size: 20px;
}


.header .menu .navbar-nav li span{
    margin-right: 20px;
}
/* ---------- Header Search -------- */
.header .search_form{
    position: relative;
}
.header .search_form #search{
    background: #fafafa;
    border: 1px solid #ddd;
    min-width: 250px;
    width: 500px;
    height: 50px;
    outline: none;
    text-indent: 5px;
    border-radius: 30px;
    margin-top: 25px;
    padding-left: 20px;
    /* color: black; */
}

.header .search_form #search::placeholder{
    color: rgb(97, 97, 97);
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 15px;

}
.header .search_form #search:hover{
    background-color: rgb(189, 189, 189);
}
.header .search_form .search_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 25px; */
    height: 35px;
    width: 35px;
    /* cursor: pointer; */
    color: rgb(211, 204, 204);
}
.header .search_form .search_icon .material-icons{
    position: absolute;
    font-size: 20px;
    transform: translateY(3px);
    margin-left: 200px;
    margin-top: 4px;
}
.header .search_form .close_search{
    /* position: absolute; */
    top: 0;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    color: crimson;
    /* padding-right: 10px; */
}
.header .search_form .users{
    position: absolute;
    width: 100%;
    min-width: 250px;
    background: #e7e5e5;
    max-height: calc(100vh - 150px);
    overflow: auto;
    margin-top: 3px;
}
.header .search_form .loading{
    position: absolute;
    top: 50%;
    right: 5px;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
}
