.section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
   
   
}
.register_page_container{
    position: relative;
    width: 500px;
    height: 890px;
    max-width: 600px;
    max-height: 1000px;
    background: #040717;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 30px;
}
.register_page_container::before{
    
    position: absolute;
    width: 180%;
    height: 180%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
    animation: rotate_border 6s linear infinite;

}
.register_page_container::after{
    
    position: absolute;
    width: 180%;
    height: 180%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}
.register_page{
    width: 100%;
    min-height: 100vh;
    background: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.register_page form{
    background: #fff;
    max-width: 500px;
    position: absolute;
    content: "";

   inset: 5px;
    padding: 50px 40px;
    background-color: #0c1022;
    border-radius: 50px 5px;
    z-index: 10;
    color: #00ccff
}

.register_page form .pass{
    position: relative;
}

.register_page form .pass small{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: 500;
    padding-right: 15px;
}
@keyframes rotate_border{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.register_page .register-group label{
    margin-top: 15px;
    margin-left: 130px;
    font-size: 20px;
}

.register_page .register-group input{
    font-size: 18px;
    border-radius: 30px;
    border: none;
    height: 35px;
    width: 400px;
    padding-left: 15px;
    color: black;
}

.register_page .register-group input::placeholder{
    font-size: 15px;
    color: #00000052;
    letter-spacing: 1px;
    padding-left: 15px;
    font-weight: 600;
}

.register_page .register-group input:hover{
    border: 2px solid #ee00ff;
}

.section .register_page .gender{
    margin-top: 10px;
    font-size: 20px;
}

.register_page button{
    /* align-items: center; */
    margin: 20px 5px;
    width: 400px;
    background-color: rgb(107, 228, 204);
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.register_page button:hover{
    background-color: #ee00ff;
    color: rgb(253, 252, 252);
}

.register_page p{
    margin-left: 70px;
}